<h1>Invoice #<%= @invoice.id %></h3>

<p>Customer Name: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}" %>
<p>Status: <%= @invoice.status %> </p>
<p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %>