<h1><%= @merchant.name %></h1>

  <section id="merchants-items">
    <% @items.each do |item| %>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
    <% end %>
  </section>
  <br>