<h1> Little Esty Shop</h1>
<%= @merchant.name %><p align=right><%= link_to "My Items", "/merchants/#{@merchant.id}/items", method: :get %>
<%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %></p>